<template>
    <div class="container">
       <div class="row mt-5">
       <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Chapels</h4>

                <div class="card-tools">
                    <button type="button" @click="loadUsers()" class="btn btn-primary">
                    Refresh
                    </button>
                    <button type="button" @click="newModal" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    New Chapel
                    </button>
                    <button type="submit" @click="deleteUser(checkedNames)" class="btn btn-primary">
                    Delete Multiple
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tr>
                    <th></th>
                    <th>Chapel Name</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr v-for="chapel in chapels.data" :key="chapel.id">
                    <td><input type="checkbox" :value="chapel.id" v-model = "checkedNames"></td>
                    <td>{{chapel.chapel_name}}</td>
                    <td>
                        <a href="#" @click="editModal(chapel)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" @click="deleteUser(chapel.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="chapels" 
                  @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          </div>
    
    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="exampleModalLabel">Create Chapel</h5>
                    <h5 class="modal-title" v-show="editmode" id="exampleModalLabel">Update Chapel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateUser() : createChapel()">
                <div class="modal-body">
                    <div class="form-group">
                        <input v-model="form.chapel_name" type="text" name="chapel_name"
                            placeholder="Chapel Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('chapel_name') }">
                        <has-error :form="form" field="chapel_name"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create Chapel</button>
                    <button v-show="editmode" type="submit" class="btn btn-primary">Update Chapel</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                editmode: false,
                chapels : {},
                checkedNames: [],
                form: new Form({
                    id: '',
                    chapel_name: '',
                })
            }
        },
        methods:{
            updateUser(){
                this.$Progress.start();
                this.form.put('api/chapels/'+this.form.id)
                .then(()=>{
                    $('#exampleModal').modal('hide');
                    swal(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                 this.$Progress.fail();
                });
            },
            
            editModal(chapels){
                this.editmode = true;
                this.form.reset();
                $('#exampleModal').modal('show');
                this.form.fill(chapels);
            },

            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#exampleModal').modal('show');   
            },
            deleteUser(id){
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if(result.value){
                            this.form.delete('api/chapels/'+id).then(()=>{
                                swal(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                                )
                                Fire.$emit('AfterCreate');
                            }).catch(()=>{
                                swal("Failed","There was something wrong");
                            })
                        }
                })
            },

            getResults(page = 1) {
			axios.get('api/chapels?page=' + page)
				.then(response => {
					this.chapels = response.data;
                });
            },   
            loadUsers(){
                axios.get("api/chapels").then(({data}) => (this.chapels = data));

            },
            createChapel(){
                this.$Progress.start();
                this.form.post('api/chapels')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#exampleModal').modal('hide')
                    
                    toast({
                        type: 'success',
                        title: 'Chapels Created successfully'
                        })
                                        
                    this.$Progress.finish();

                    })
                .catch(()=>{

                })
                console.log("created");
                
            }

        },
        created() {
           
            this.loadUsers();
            // setInterval(() => this.loadUsers(), 3000);
            Fire.$on(
                'AfterCreate',() => {
                    this.loadUsers();
                });
            
        }
    }
</script>
