<template>
    <div class="container">
       <div class="row mt-5">
       <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">2019 Atttendance</h4>
                <div class="card-tools">
                    <button type="button" @click="updateParticipantsAttPay(checkedNames)" class="btn btn-sm btn-success">
                    AP
                    </button>
                    <button type="button" @click="updateParticipantsAttendance(checkedNames)" class="btn btn-sm btn-success">
                    A
                    </button>
                    <button type="button" @click="updateParticipantsPayment(checkedNames)" class="btn btn-sm btn-success">
                    P
                    </button>
                    <button type="button" @click="loadUsers()" class="btn btn-sm btn-primary">
                    R
                    </button>
                    <button type="button" @click="newModal" class="btn btn-sm btn-primary" name ="newParticipants" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-plus"></i>
                    </button>
                    <button type="submit" @click="deleteUser(checkedNames)" name ="deleteMultiple" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tr>
                    <th ></th>
                    <th >#</th>
                    <th >Name</th>
                    <th >Chapel</th>
                    <th >Payment</th>
                    <th >Attendance</th>
                     <th >Remarks</th>
                    <th ></th>
                    <th ></th>
                  </tr>
                  <tr v-for="(user,count) in users.data" :key="user.id">
                    <td><input type="checkbox" :value="user.id" v-model = "checkedNames"></td>
                    <td scope="row">{{++count}}</td>
                    <td>{{user.first_name + " " +user.last_name | upText }} </td>
                    <td>{{user.chapel_name}}</td>
                    <td>{{user.payment==1?"Paid":"Unpaid"}}</td>
                    <td>{{user.attendance==1?"Present":"Registered"}}</td>
                    <td>{{user.remarks}}</td>
                    <td>
                        <a href="#" @click="editModal(user)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" @click="deleteUser(user.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="users" 
                  @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          </div>
    
    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="exampleModalLabel">Add Parishioner Information</h5>
                    <h5 class="modal-title" v-show="editmode" id="exampleModalLabel">Update Parishioner Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateUser() : createParticipants()">
                <div class="modal-body row">
                   
                    <div class="form-group col-md-6">
                         <label>First Name</label>
                        <input v-model="form.first_name" type="text" name="first_name"
                            placeholder="First Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                        <has-error :form="form" field="first_name"></has-error>
                    </div>
        
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input v-model="form.last_name" type="text" name="last_name"
                            placeholder="Last Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                        <has-error :form="form" field="last_name"></has-error>
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label>Chapel</label>
                        <select v-model="form.chapel_name"  name="chapel" class="form-control" >
                            <option disabled value="">Select Chapel</option>
                            <option v-for="chapel in chapels.data" :key="chapel.id" v-bind:value="chapel.chapel_name">{{chapel.chapel_name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Attendance</label>
                        <br>
                        <label class="form-check-label radio-inline">
                            <input type = "radio" v-model="form.attendance" name="registered" value="0" checked>
                            Registered
                        </label>
                        <br>
                        <label class="form-check-label radio-inline">
                            <input type = "radio" v-model="form.attendance" name="present" value="1">
                            Present
                        </label>  
                    </div>

                    <div class="form-group col-md-6">
                        <label>Payment</label>
                        <br>
                        <label class="form-check-label radio-inline">
                            <input type = "radio" 
                                   v-model="form.payment" 
                                   name="paid" value="1" checked>
                            Paid
                        </label>
                        <br>
                        <label class="form-check-label radio-inline">
                            <input type = "radio" 
                                   v-model="form.payment" 
                                   name="unpaid" value="0">
                            Unpaid
                        </label>  
                    </div>
                    <div class="form-group col-md-12">
                        <label>Remarks</label>
                        <textarea class="form-control" 
                                  style="resize:none;" 
                                  name="remarks" 
                                  rows="2"
                                  v-model="form.remarks"
                                  placeholder="Enter remarks"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-show="!editmode" name="submitname" type="submit" class="btn btn-primary">Create Participants</button>
                    <button v-show="editmode" name="updatename" type="submit" class="btn btn-primary">Update Directory</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
   
    export default {
        data(){
            return{

                editmode: false,
                users : {},
                chapels : {},
                checkedNames: [],
                count:1,
                errors:[],
            
                form: new Form({
                    id: '',
                    first_name: '',
                    last_name: '',
                    chapel_name: '',
                    payment: '',
                    attendance: '',
                    remarks: '',
                })
            }
        },
        methods:{
            updateUser(){
                this.$Progress.start();
                this.form.put('api/participants/'+this.form.id)
                .then(()=>{
                    $('#exampleModal').modal('hide');
                    swal(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');

                })
                .catch(()=>{
                 this.$Progress.fail();
                });
            },
            
            tablenumber(){
                count+=1;
            },
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#exampleModal').modal('show');
                this.form.fill(user);
            },

            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#exampleModal').modal('show');   
            },
            deleteUser(id){
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if(result.value){
                            this.form.delete('api/participants/'+id).then(()=>{
                                swal(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                                )
                                Fire.$emit('AfterCreate');
                            }).catch(()=>{
                                swal("Failed","There was something wrong");
                            })
                        }
                })
                  
               this.checkedNames=[];
            },

            getResults(page = 1) {
                axios.get('api/participants?page=' + page)
                    .then(response => {
                        this.users= response.data;
                    });
                },   
            loadUsers(){
                axios.get("api/participants").then(({data}) => (this.users = data));
                this.checkedNames=[];
            },
            createParticipants(){
                this.$Progress.start();
                this.form.post('api/participants')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#exampleModal').modal('hide')
                    
                    toast({
                        type: 'success',
                        title: 'Participants Created successfully'
                        })
                                        
                    this.$Progress.finish();

                    })
                .catch(()=>{error=>{
                    if(error.response.status==422){
                        this.errors = error.response.data.errors
                    }
                }

                })
                console.log("created");
                
            },
            loadChapel(){
                 axios.get("api/chapels").then(({data}) => (this.chapels = data));
            },

            updateParticipantsAttendance(id){
                axios.get('api/updateAttendance/'+id).then(()=>{
                    swal(
                        'Updated!',
                        'Attendance has been updated.',
                        'success'
                        )
                    Fire.$emit('AfterCreate');
                });

                this.checkedNames=[];
               
            },
            updateParticipantsPayment(id){
                axios.get('api/updatePayment/'+id).then(()=>{
                    swal(
                        'Updated!',
                        'Payment has been updated.',
                        'success'
                        )
                    Fire.$emit('AfterCreate');
                });;
                this.checkedNames=[];

            },
            updateParticipantsAttPay(id){
                axios.get('api/updateAttendancePayment/'+id).then(()=>{
                    swal(
                        'Updated!',
                        'Payment and Attendance has been updated.',
                        'success'
                        )
                    Fire.$emit('AfterCreate');
                });;
                this.checkedNames=[];
            },
            countP(){
                axios.get('api/getCounts').then(({data})=>(this.counts=data));
                return this.counts;
            }

        },
        created() {
            
            Fire.$on('searching',()=>{
                let query = this.$parent.search;
                 axios.get('api/findParticipants?q=' + query)
                 .then((data) => {
                     this.users = data.data
                     })
                 .catch(() => {

                 })
            });

            this.loadUsers();
            this.loadChapel();
        
            Fire.$on(
                'AfterCreate',() => {
                    this.loadUsers();
                    this.loadChapel();
                });
            
        }
    }
</script>
